#!/bin/bash

## This is a sample file. Please copy it to init_homalg_starter, make the copy executable and
## modify the paths.


## list of packages under homalg_project
## Please never add PolymakeInterface to it, since the polymake session cannot be stored!
export homalg_project_modules="4ti2Interface Convex ExamplesForHomalg Gauss GaussForHomalg GradedModules GradedRingForHomalg HomalgToCAS IO_ForHomalg LocalizeRingForHomalg MatricesForHomalg Modules RingsForHomalg SCO ToolsForHomalg ToricVarieties homalg"

## List of packages you want to include in the workspace
export extra_modules="packages_you_want_to_trace"

## This needs to be your current gap start script
export gap_bin=gap

##The folder where the packages of the homalg project are stored
export pkg_dir=/path/to/the/gap/pkg

##The filename where the new homalg gap start script should be created
export start_script=/new/gap/start/script
export start_script_git=/new/gap/git/status/start/skript
